.head{
	text-align: center;
    margin:0px  40px;
    font-size: 4rem;
}
.para{
	text-align: center;
    margin:0px  40px;
    padding-bottom: 30px;
    font-size: 1.5rem;
}
.head1{
	text-align: center;
    margin:0px  40px;
    padding: 30px 0px;
    font-size: 2rem;
}

#topcontainer{
	background-image: url(https://ma-hub.imgix.net/wp-images/2019/05/04185051/royalty-free-music-Background.jpg?w=1600&h=850&auto=format);
	background-size: cover;
	color: #fff;
	padding-bottom:120px;
	

}
.div1{
	padding: 100px 0px;
}
#middlecontainer{
	background-color: #454647;
	padding: 50px 0px;
	color: #1bcbd1;
	
}

.head2{
	text-align: center;
    margin:0px  40px;
    padding: 30px 0px;
}
.classic{
	padding: 50px 0px;
	background-image: url(https://images.pexels.com/photos/365633/pexels-photo-365633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	color: #fff;
	
}
.img2{
	text-align: center;
    margin:0px 40px;
    margin-bottom: 50px;
}
.hey{
	text-align: center;
	 margin:0px 40px;
	 margin-bottom: 30px;
	 
}
button{
	padding:15px;
	color: #fff;
	background-color: red;
	border:none;
	
}


.play{

	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
	color: #0046c7;
}

.nav-link{
	font-size:20px;
	font-family: bold;
}

.img1{
	width:300px;
	margin-right:15px;
}
.qr{
	margin-bottom:30px;
}
.navbar-toggler{
	background-color:red;
}


.special{
        color: #fff;
	font-size: 20px;
	margin:20px;
	
}
.last{
	text-align: center;
	padding: 50px 0px;
	background-color: #84a9ac;

}
.jk{
    font-size:20px;
}
.carousel .carousel-item {
  height:400px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.w-100 {
  width: 100% !important;
  height: 75vh;
}

